/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  user-select: none;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  --main-font: "Playfair Display", serif;
  --secondary-font: "Alice", serif;
}

body {
  font-family: var(--main-font) !important;
  height: 120vh;
}

/* Bottom Nav */

.navbar-expand-lg {
  display: flex;
  justify-content: center !important;
  text-align: center !important;
  align-items: center !important;
  width: 500px;
  height: 80px;
  border-radius: 10px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 10px !important;
  text-align: center;
}

.navbar-custom {
  color: black;
}

.bg-custom {
  background-color: #fcfcfc !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: #fcfcfc;
  background-color: #5d7050;
  border-radius: 40px;
}

.nav-link {
  margin-left: 30px;
  display: flex !important;
  flex-direction: column !important;
}

.nav-link span {
  margin-top: 5px;
  text-align: center !important;
  font-size: 14px;
  font-weight: 600;
}

.nav-link .active {
  color: #5d7050;
  background-color: #5d705034;
}

@media only screen and (max-width: 600px) {
  .navbar-expand-lg {
    width: 350px !important;
    height: 85px;
    border-radius: 10px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 20px !important;
    text-align: center !important;
  }
  .menu-icon {
    margin-top: -5px;
    font-size: 20px;
  }
  .nav-link {
    margin-left: 20px;
    display: flex !important;
    flex-direction: column !important;
  }

  .nav-link > span {
    font-size: 14px;
    text-align: center !important;
  }
}

/* Bottom Nav End */

/* Hero */

#heroSection {
  position: absolute;
  width: 1440px;
  height: 100vh;
  left: 0px;
  top: 0px;
  background: url(../img/hero-bg.png);
}

.introducing {
  margin-top: -30px;
  font-family: var(--secondary-font);
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  font-style: normal;
}

.couple-name {
  margin-top: -5px;
  text-transform: uppercase;
  font-family: var(--main-font);
  font-size: 48px;
  line-height: 64px;
  font-weight: 700;
  font-style: normal;
}

.wedding-date {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  font-size: 20px;
}

.guest-greeting {
  margin-top: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}

.guest-name {
  margin-top: 25px;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 28px;
}

.guest-note {
  margin-top: 30px;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

@media only screen and (max-width: 600px) {
  body {
    overflow-x: hidden !important;
  }
  #heroSection {
    position: absolute;
    width: 100% !important;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat !important;
    background-image: url(../img/hero-bg-mobile.png);
  }
  #heroSection img {
    width: 200px;
  }
  .couple-name {
    margin-top: -5px;
    text-transform: uppercase;
    font-family: var(--main-font);
    font-size: 24px;
    line-height: 64px;
    font-weight: 700;
    font-style: normal;
  }
}

/* Hero End */
