/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  user-select: none;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  --main-font: "Playfair Display", serif;
  --secondary-font: "Alice", serif;
}

body {
  font-family: var(--main-font) !important;
  height: auto;
  background-color: #eeefe9 !important;
}

/* Bottom Nav */

.navbar-expand-lg {
  width: 500px;
  height: 80px;
  border-radius: 10px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom: 20px !important;
  text-align: center;
}

.navbar-custom {
  color: black;
}

.bg-custom {
  background-color: #fcfcfc !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: #fcfcfc;
  background-color: #5d7050;
  border-radius: 40px;
}

.nav-link {
  margin-left: 30px;
  display: flex !important;
  flex-direction: column !important;
}

.nav-link span {
  margin-top: 5px;
  text-align: center !important;
  font-size: 14px;
  font-weight: 600;
}

.nav-link .active {
  color: #5d7050;
  background-color: #5d705034;
}

@media only screen and (max-width: 600px) {
  .navbar-expand-lg {
    width: 350px !important;
    height: 85px;
    border-radius: 10px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 20px !important;
    text-align: center !important;
  }
  .menu-icon {
    margin-top: -5px;
    font-size: 20px;
  }
  .nav-link {
    margin-left: 20px;
    display: flex !important;
    flex-direction: column !important;
  }

  .nav-link > span {
    font-size: 14px;
    text-align: center !important;
  }
}

/* Bottom Nav End */

/* Hero */

#heroSection {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(../img/hero-bg.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.hero-part-1 img {
  width: 250px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hero-part-1 p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  font-family: var(--secondary-font);
}

.hero-part-1 h1 {
  margin-top: -10px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-transform: uppercase;
}

.hero-part-1 h3 {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.hero-part-2 p {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  margin-top: 20px;
  line-height: 27px;
}

.hero-part-2 h1 {
  margin-top: 20px;
  font-size: 34px;
  font-weight: 600;
  line-height: 30px;
  font-style: normal;
  font-family: var(--secondary-font);
}

.hero-part-2 h2 {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin-top: 25px;
}

/* Hero End */

/* Countdown */

#countDownSection {
  text-align: center;
}

.countdown-part-1 h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin-top: 50px;
}

.countdown-part-2 {
  display: flex;
  justify-content: space-evenly;
}

.item {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.item h4 {
  font-size: 20px;
}

.item .count_down {
  font-size: 32px;
}

/* Countdown End */

/* Bride Groom */

#brideGroom {
  margin-top: 90px;
  text-align: center;
}

#brideGroom h1 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

#brideGroom .greetings {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

#brideGroom h2 {
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  font-weight: 400;
}

#brideGroom .card {
  margin-top: 80px;
  background-color: transparent;
  border-color: transparent;
}

.rounded-circle {
  width: 320px;
  height: 320px;
  background-position: center;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.groom-name {
  margin-top: -10px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  font-style: normal;
}

.groom-parent-name {
  margin-bottom: 5px;
}

#brideGroom p .change-color {
  color: purple;
  font-weight: 600;
}

.card-social-media {
  margin-top: -20px;
}

.card-social-media a {
  font-size: 20px;
  margin-right: 10px;
  text-decoration: none !important;
  color: #5d70505d;
}

.card-social-media a:hover {
  color: #5d7050;
  transition: all 0.5s;
}

/* Bride Groom End */

/* Event */

#eventSection {
  margin-top: 90px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#eventSection .card {
  width: 11rem !important;
}

/* Event End */
